<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.respondingio.battlegroundsbuddy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:largeHeap="true"
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".weapons.WeaponDetailsActivity" />

        <activity
            android:name=".loadout.LoadoutCreateMain"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".damage_calculator.DamageCalcActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".weapons.CompareWeaponActivity"
            android:theme="@style/CompareTheme" />

        <activity
            android:name=".weapons.CompareWeaponPicker"
            android:theme="@style/PickerTheme" />

        <activity
            android:name=".damage_calculator.DamageCalcPicker"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icons8_rifle" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/Profile" />

        <activity android:name=".info.TimerActivity" />

        <activity
            android:name=".weapons.WeaponDamageChart"
            android:theme="@style/AppTheme" />

        <service android:name=".info.TimerService" />

        <receiver android:name=".info.AlarmReceiver" />

        <activity android:name=".SocialLinksActivity" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashEnabled}" />

        <activity android:name=".stats.matchdetails.MatchDetailActivity" android:theme="@style/MatchDetailsTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="71fe4f6439eabeb63524778f52e28a9cbcd9e4c7" />

        <activity android:name=".stats.matchdetails.SinglePlayerStatsActivity" android:theme="@style/MatchDetailsTheme" />

        <activity android:name=".stats.matchdetails.KillFeedListMap"/>

        <activity android:name=".stats.MainStatsActivity" android:theme="@style/MainStatsTheme" />

        <!-- START NEW STUFF -->
        <activity android:name=".MainActivityKT" android:label="Battle Buddy New" android:theme="@style/NewHomeActivity">

        </activity>

        <activity android:name=".weapondetail.WeaponHome" android:theme="@style/WeaponHome">
        </activity>

        <activity android:name=".weapondetail.WeaponDetailTimeline" android:theme="@style/WeaponTimeline" />
    </application>

</manifest>