<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ahcjapps.battlebuddy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".stats.scanner.ScannedResults" android:theme="@style/AppTheme"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".damage_calculator.DamageCalcActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".weapons.CompareWeaponActivity"
            android:theme="@style/CompareTheme" />
        <activity
            android:name=".weapons.CompareWeaponPicker"
            android:theme="@style/PickerTheme" />
        <activity
            android:name=".damage_calculator.DamageCalcPicker"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/grandmaster_noti" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".info.TimerActivity" />
        <activity
            android:name=".weapons.WeaponDamageChart"
            android:theme="@style/AppTheme" />

        <service android:name=".info.TimerService" />

        <receiver android:name=".info.AlarmReceiver" />

        <activity android:name=".SocialLinksActivity" />

        <activity
            android:name=".stats.matchdetails.MatchDetailActivity"
            android:theme="@style/MatchDetailsTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pubgbuddy.gg"
                    android:pathPrefix="/match"
                    android:scheme="http" />
                <data
                    android:host="www.pubgbuddy.gg"
                    android:pathPrefix="/match"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stats.matchdetails.replay.ReplayActivity"
            android:theme="@style/MatchDetailsTheme"></activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/SettingsTheme"></activity> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="71fe4f6439eabeb63524778f52e28a9cbcd9e4c7" /> -->
        <activity android:name=".stats.matchdetails.KillFeedListMap" /> <!-- START NEW STUFF -->
        <activity
            android:name=".MainActivityKT"
            android:label="Battle Buddy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weapondetail.WeaponDetailTimeline"
            android:theme="@style/WeaponTimeline" />
        <activity
            android:name=".premium.UpgradeActivity"
            android:theme="@style/WeaponTimeline" />
        <activity
            android:name=".map.MapDropRouletteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Map Drop Roulette"
            android:screenOrientation="portrait"
            android:theme="@style/DropRoulette" />
        <activity
            android:name=".stats.PlayerListDialog"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".AlertManager"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".map.MapDownloadActivity"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".stats.compare.ComparePlayersActivity"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".stats.main.StatsHome"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".profile.ProfileMain"
            android:theme="@style/PlayerListDialog" />
        <activity
            android:name=".profile.ProfilePicPicker"
            android:theme="@style/PlayerListDialog" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ahcjapps.battlebuddy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1646739421365093~2508030809" />

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${enableCrashReporting}" />
    </application>

</manifest>