<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.austinhodak.pubgcenter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.location" -->
    <!-- android:required="false" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.location.network" -->
    <!-- android:required="false" /> -->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="@bool/crash_reporting" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeaponDetailActivity" />
        <activity android:name=".loadout.LoadoutCreateMain" />
        <activity android:name=".damage_calculator.DamageCalcActivity" />
        <activity
            android:name=".weapons.CompareWeaponActivity"
            android:theme="@style/CompareTheme" />
        <activity android:name=".weapons.CompareWeaponPicker" />
        <activity android:name=".damage_calculator.DamageCalcPicker" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icons8_rifle" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".profile.ProfileActivity" android:theme="@style/Profile"/>

        <activity android:name=".info.TimerActivity"></activity>

        <service android:name=".info.TimerService" />

        <receiver android:name=".info.AlarmReceiver"/>
    </application>

</manifest>